# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.venv/
wheels/
*.egg-info/
.installed.cfg
*.egg

# VSCode
.vscode/
*.code-workspace
.history/

# Virtual Environment
venv/
env/
ENV/
.env

# Testing
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# Project specific
download/
output/
*.log
*.mkv
*.mp4
*.m4a
*.srt
temp/

# System specific
.DS_Store
Thumbs.db